@page "/"
@using Client.Components
@inject ISnackbar Snackbar
@inject IDialogService DialogService
<MudDialogProvider/>
<PageTitle>TransferMe - Home</PageTitle>

<style>
    .drag-drop-zone {
        display: flex;align-items: center;justify-content: center;transition: all .4s;min-height: 370px;
        background-color: #DC4405;
    }
    .drag-drop-input {
        position: absolute;width: 95%;height: 56%;opacity: 0;cursor:pointer;
        z-index:2
    }
    .drag-enter {
        box-shadow: var(--mud-elevation-10);
    }
    .list{
        padding:2em;min-width:100%;min-height:30px;
    }
</style>

<MainLayout>
    <Body>
        @if (fileTooLarge)
        {
            <MudAlert 
                Severity="Severity.Warning"
                Elevation="2">
                File too large. Please upload a smaller file or try compressing the file before upload.
            </MudAlert>
        }
        <div style="padding-top: 20%">
           <MudPaper @ondragenter="@(()=>FileUtilService.DragEnterStyle="drag-enter")"
              @ondragleave="@(()=>FileUtilService.DragEnterStyle=String.Empty)"
              @ondragend="@(()=>FileUtilService.DragEnterStyle=String.Empty)"
              Class=@("drag-drop-zone "+ FileUtilService.DragEnterStyle)>
                <InputFile id="fileInput" OnChange="OnInputFileChanged" class="drag-drop-input"/>
                @if (fileList.Count() == 0)
                {
                    <center><MudText Color="Color.Secondary" Style="padding:2em;width:75% " Typo="Typo.h4">Click to browse or drag and drop file here</MudText></center>
                }else
                {
                    <MudList Style="padding:2em;width:75%;" Dense="true" >
                        @foreach (EncFile file in fileList)
                        {
                            <MudListItem @key="@file.Description" >
                               <MudChip Color="Color.Dark" 
                                        Style="width:auto; overflow:auto;" 
                                        Text="@(file.Description)"
                                />
                            </MudListItem>
                        }
                    </MudList>
                }
            </MudPaper>

            <MudGrid Justify="Justify.Center" Spacing="4">
                <MudItem>
                    <MudButton OnClick="Upload" StartIcon="@Icons.Material.Filled.Upload" Disabled="@(!fileList.Any())" Color="Color.Success" Variant="Variant.Filled">
                        <MudText Color="Color.Tertiary">Upload</MudText>
                    </MudButton>
                </MudItem>
                <MudItem>
                    <MudButton OnClick="Clear" StartIcon="@Icons.Material.Filled.Delete" Disabled="@(!fileList.Any())" Color="Color.Error" Variant="Variant.Filled">
                        <MudText Color="Color.Tertiary">Clear</MudText>
                    </MudButton>
                </MudItem>
            </MudGrid>
        </div>
    </Body>
</MainLayout>