@page "/"
@using Client.Components
@inject ISnackbar Snackbar

<PageTitle>TransferMe - Home</PageTitle>

<style>
    .drag-drop-zone {
        display: flex;align-items: center;justify-content: center;transition: all .4s;min-height: 370px;
        background-color: #B0B3B8;
    }
    .drag-drop-input {
        position: absolute;width: 62%;height: 60%;opacity: 0;cursor:pointer;
        z-index:2
    }
    .drag-enter {
        box-shadow: var(--mud-elevation-10);
    }
    .list{
        padding:2em;min-width:100%;min-height:30px;
    }
</style>

<MainLayout>
    <Body>
        @if (FileUtilService.isLoading)
        {
            <LoadingScreen>
            </LoadingScreen>
        }else{
        <div style="padding-top: 8%">
           <MudPaper @ondragenter="@(()=>FileUtilService._dragEnterStyle="drag-enter")"
              @ondragleave="@(()=>FileUtilService._dragEnterStyle=String.Empty)"
              @ondragend="@(()=>FileUtilService._dragEnterStyle=String.Empty)"
              Class=@("drag-drop-zone "+ FileUtilService._dragEnterStyle)>

                <InputFile id="fileInput" OnChange="FileUtilService.OnInputFileChanged" class="drag-drop-input"/>
                @if (FileUtilService.fileList.Count() == 0)
                {
                    <center><MudText Color="Color.Primary" Style="padding:2em;width:75% " Typo="Typo.h4">Click to browse or drag and drop file here</MudText></center>
                }else
                {
                    <MudList Style="padding:2em;width:75%;" Dense="true" >
                        @foreach (EncFile file in FileUtilService.fileList)
                        {
                            <MudListItem @key="@file.Description" >
                               <MudChip Color="Color.Dark" 
                                        Style="width:auto; overflow:auto;" 
                                        Text="@(file.Description)"
                                />
                            </MudListItem>
                        }
                    </MudList>
                }
            </MudPaper>

            <MudGrid Justify="Justify.Center" Spacing="4">
                <MudItem>
                    <MudButton OnClick="FileUtilService.Upload" Disabled="@(!FileUtilService.fileList.Any())" Color="Color.Primary" Variant="Variant.Filled"><MudText Style="color:#000000">Upload</MudText></MudButton>
                </MudItem>
                <MudItem>
                    <MudButton OnClick="FileUtilService.Clear" Disabled="@(!FileUtilService.fileList.Any())" Color="Color.Error" Variant="Variant.Filled"><MudText Style="color:#000000">Clear</MudText></MudButton>
                </MudItem>
            </MudGrid>
        </div>
        }
    </Body>
</MainLayout>